<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% load static %}

<head>
  <!-- Required meta templatetags -->
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <title>{% block title %} Password Reset Done {% endblock %}</title>
</head>

<body>
    {% block content%}
    <div class="container bg-light my-3 pb-5 pt-5">
        <h1 class="text-center pb-5 pt-5">Reset your password</h1>
        <div class="col-sm my-3 pb-5 pt-5 bg-light">
          <p>An email with instructions for setting your password has been sent to you.
              <br>Please make sure you have entered the email you registered with if
              you don't receive an email with instructions.</br>
          </p>
        </div>
      </div>
    {% endblock %}
</body>

</html>