<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% load static %}

<head>
  <!-- Required meta templatetags -->
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <title>{% block title %} Password Reset Email{% endblock %}</title>
</head>

<body>
    {% block content%}
    <div class="container bg-light my-3 pb-5 pt-5">
          <p class="text-center text-light">Your requested for password reset. Follow the link below to reset
              your password:
              {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
              Your username : {{ user.get_username }}
          </p>
    </div>
    {% endblock %}
</body>

</html>