<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% load static %}

<head>
  <!-- Required meta templatetags -->
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <title>{% block title %} Password Reset {% endblock %}</title>
</head>

<body>
    {% block content%}
    <div class="container bg-light my-3 pb-5 pt-5">
        <h1 class="text-center pb-5 pt-5">Reset your password</h1>
      <div class="row">
        <div class="col-sm my-3 pb-5 pt-5 bg-light">
            {% if validlink %}
          <p class="text-center">Please enter your new password</p>
          <form method="post" class="py-3">
            <div style="width:50%;">
              <div style="width:80%; overflow:auto" class="py-3">
                  {{ form.as_p }}
                  {% csrf_token %}
              </div>
            </div>
            <div class="text-center">
              <input type="submit" class="btn btn-primary text-center" value="Change my password">
            </div>
          </form>
            {% else %}
            <p>Please request a new password reset; the password reset link is invalid or has already been used.</p>
            {% endif %}
        </div>
      </div>
    </div>
    {% endblock %}
</body>

</html>